<div class="kbs-project-component">
  <img src={{project.attributes.image.src}} alt={{project.attributes.image.alt}}>
  <h3>{{project.title}}</h3>
  <p>{{#if project.attributes.description.summary}}
    {{{project.attributes.description.summary}}}
  {{else}}
    {{{project.attributes.description.full}}}
  {{/if}} </p>
</div>
