{{kbs-header}}
{{nav-menu}}

<div class="kbs-signature">
{{kbs-signature}}
</div>

<div class="kbs-sketch">
{{kbs-sketch-right}}
</div>

<div class = "kbs-content">
  {{outlet}}
</div>

{{kbs-footer}}
